/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* Hero Section */

.hero-section {
    min-height: 600px;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
        ),
        url("https://images.unsplash.com/photo-1506521781263-d8422e82f27a");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Navbar */

.navbar-brand {
    font-size: 24px;
}